body{

	text-align:center;
	
}

#board {
    background-image: url("board.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
  }

.box{

	text-align:left;
	width:auto;
	height:auto;
	
}
